<form [formGroup]="recipeForm" (ngSubmit)="onSubmit()" class="container mt-4">
    <div class="mb-3">
      <label for="title" class="form-label">Title*</label>
      <input type="text" class="form-control" id="title" formControlName="title" placeholder="Enter recipe title">
    </div>
  
    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea class="form-control" id="description" formControlName="description" rows="3" placeholder="Enter recipe description"></textarea>
    </div>
  
    <div class="mb-3">
      <label for="serving" class="form-label">Serving*</label>
      <input type="number" class="form-control" id="serving" formControlName="serving" placeholder="Number of servings">
    </div>
  
    <div class="mb-3">
      <label for="time" class="form-label">Time (minutes)*</label>
      <input type="number" class="form-control" id="time" formControlName="time" placeholder="Preparation time in minutes">
    </div>
  
    <div class="mb-3">
      <label for="difficulty" class="form-label">Difficulty*</label>
      <select class="form-select" id="difficulty" formControlName="difficulty">
        <option value="">Select difficulty</option>
        <option value="Easy">Easy</option>
        <option value="Medium">Medium</option>
        <option value="Hard">Hard</option>
      </select>
    </div>

    
      
  
  
    <div class="mb-3">
      <label for="photo" class="form-label">Photo</label>
      <input class="form-control" type="file" id="photo" (change)="onFileChange($event)">
    </div>
  

    <!-- ingredientsById List -->
    <div formArrayName="ingredientsById">
      <div *ngFor="let ingredient of ingredientsById.controls; let i=index" [formGroupName]="i">
        <div class="form-group">
          <label for="name">Ingredient Name*</label>
          <input type="text" class="form-control" formControlName="name" placeholder="Enter ingredient name">
        </div>
        <div class="form-group">
          <label for="quantity">Quantity*</label>
          <input type="number" class="form-control" formControlName="quantity" placeholder="Enter ingredient quantity">
        </div>
        <div class="form-group">
          <label for="unitOfMeasurement">Unit of Measurement*</label>
          <input type="text" class="form-control" formControlName="unitOfMeasurement" placeholder="Enter unit of measurement">
        </div>
        <button type="button" class="btn btn-danger" (click)="removeIngredient(i)">Remove Ingredient</button>
      </div>
      <button type="button" class="btn btn-primary" (click)="addIngredient()">Add Ingredient</button>
    </div>

    <!-- stepsById list -->
    <div formArrayName="stepsById">
      <div *ngFor="let step of stepsById.controls; let i=index" [formGroupName]="i">
        <div class="form-group">
          <label for="stepNumber"> Step Number* </label>
          <input type="number" class="form-control" formControlName="stepNumber" placeholder="Enter step number">
        </div>
        <div class="form-group">
          <label for="title">Step Title*</label>
          <input type="text" class="form-control" formControlName="title" placeholder="Enter step title">
        </div>
        <div class="form-group">
          <label for="description">Step Description*</label>
          <textarea class="form-control" formControlName="description" rows="3" placeholder="Enter step description"></textarea>
        </div>
        <button type="button" class="btn btn-danger" (click)="removeStep(i)">Remove Step</button>
      </div>
      <button type="button" class="btn btn-primary" (click)="addStep()">Add Step</button>
    </div>
  
    <button type="submit" class="btn btn-primary" [disabled]="!recipeForm.valid">Submit</button>
  </form>
  

  