<div class="container-fluid mb-4">
  <div class="row">
    <div class="col">
      <nav class="navbar navbar-dark custom-bg-orange">
        <div class="container-fluid ">
          <a class="navbar-brand" href="#">
            <div class="row">
              <div class="col"><img src="https://lh3.googleusercontent.com/tvePuZeD4gx3Rbp02Uf8ETzu9_je5jvw4Cl7KG9q7b9BHSV8fUfkUeS1xb0e-df7lg" alt="recipe book" width="45" height="45" class="d-inline-block rounded align-text-top">
              </div>
              <div class="col"><h3 class="title-class">Recipe Storage</h3></div>

            </div>
            
          </a>
        </div>
      </nav>
    </div>
  </div>
</div>


<app-alert></app-alert>
<router-outlet />

